 <!--FizzBang base configuration-->
 <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header card-header-warning card-header-icon">
          <div class="card-icon">
            <i class="material-icons">content_copy</i>
          </div>
          <p class="card-category">X Value</p>
          <h3 class="card-title">
            {{ fizzBangFloor }}
          </h3>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header card-header-warning card-header-icon">
          <div class="card-icon">
            <i class="material-icons">store</i>
          </div>
          <p class="card-category">Y Value</p>
          <h3 class="card-title">
            {{ fizzBangCeiling }}
          </h3>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header card-header-warning card-header-icon">
          <div class="card-icon">
            <i class="material-icons">exposure_plus_1</i>
          </div>
          <p class="card-category">Stepper increment</p>
          <h3 class="card-title">
            {{ fizzBangStep }}
          </h3>
        </div>
      </div>
    </div>
  </div>
  <!--FizzBang Dynamic rules-->
  <div class="row">
    <div
      class="col-lg-3 col-md-6 col-sm-6"
      *ngFor="let rule of fizzBangRules"
    >
      <div class="card card-stats">
        <div class="card-header card-header-warning card-header-icon">
          <div class="card-icon">
            <i class="material-icons">info_outline</i>
          </div>
          <p class="card-category">Game Rules</p>
          <h3 class="card-title">{{ rule.operator }} by {{ rule.value }}</h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">update</i> {{ rule.displayResult }}
          </div>
          <div class="pull-right">
            <button
              class="btn btn-danger"
              value="Delete rule"
              (click)="delete(rule)"
            >
              Delete Rule
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--Add new dynamic rule-->
    <div
      class="col-lg-3 col-md-6 col-sm-6"
      *ngIf="!showNewRuleForm"
      (click)="showNewRuleForm = !showNewRuleForm"
    >
      <div class="card card-stats new-rule">
        <i class="material-icons">add_circle_outline</i>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6" *ngIf="showNewRuleForm">
      <form
        (ngSubmit)="f.form.valid && save(newFizzBangRule)"
        #f="ngForm"
        novalidate
      >
        <div class="card card-stats form-group">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon pointer" (click)="closeNewRuleForm()">
              <i class="material-icons">close</i>
            </div>
            <p class="card-category" style="margin-bottom:20px;">
              New Game Rule
            </p>
            <div>
              <label>Operator:</label>
              <select
                name="operator"
                [(ngModel)]="newFizzBangRule.operator"
                #operator="ngModel"
                class="custom-select"
                [ngClass]="{ 'is-invalid': f.submitted && operator.invalid }"
                required
              >
                <option
                  *ngFor="let availableOperator of availableOperators"
                  [value]="availableOperator"
                  >{{ availableOperator }}</option
                >
              </select>
              <div
                *ngIf="f.submitted && operator.invalid"
                class="invalid-feedback"
              >
                <div *ngIf="operator?.errors.required">
                  Operator is required
                </div>
              </div>
            </div>
            <div>
              <label>Value:</label>
              <input
                name="value"
                [(ngModel)]="newFizzBangRule.value"
                #value="ngModel"
                class="form-control"
                [ngClass]="{ 'is-invalid': f.submitted && value.invalid }"
                type="number"
                required
              />
              <div
                *ngIf="f.submitted && value.invalid"
                class="invalid-feedback"
              >
                <div *ngIf="value?.errors.required">Value is required</div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="stats">
              <label>Display result</label>
              <input
                name="displayResult"
                [(ngModel)]="newFizzBangRule.displayResult"
                #displayResult="ngModel"
                class="form-control"
                [ngClass]="{ 'is-invalid': f.submitted && displayResult.invalid }"
                type="text"
                required
              />
              <div
                *ngIf="f.submitted && displayResult.invalid"
                class="invalid-feedback"
              >
                <div *ngIf="displayResult?.errors.required">
                  Display result is required
                </div>
              </div>
            </div>
            <div
              class="stats"
              *ngIf="newFizzBangRule.operator == '%'"
              style="padding-right: 10px; padding-left: 10px;"
            >
              <label>Operation result</label>
              <input
                name="operationResult"
                type="number"
                class="form-control"
                [(ngModel)]="newFizzBangRule.operationResult"
              />
            </div>
            <div class="pull-right">
              <button class="btn btn-success" value="Save rule">
                Save Rule
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>